.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #573a26;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  a {
    text-decoration: none;
    color: #e06908;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .loading,
  .no-teams {
    font-size: 18px;
    color: #693430;
  }

  